@model WebApplication3.ViewModel.Authorization?

@{
    <link rel="stylesheet" href="startPage/index.css" />
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form style="margin: 0 auto; align-items: center" asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="loginContainer">
    <div style="margin-top: 10px; text-align: center; padding-bottom: 10px; font-size: 25px">Authorization</div>
    <div>
        <label asp-for="Mail" for="exampleInputEmail1">Email address</label>
        <input asp-for="Mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div style="margin-top: 10px">
        <label asp-for="Password" for="exampleInputPassword1">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="margin: 0 auto"><button type="submit" class="btn btn-primary" style="margin-left:129px; margin-top: 20px; width: 150px;">Enter</button></div>
</form>
