@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="margin: auto; text-align: center">
    <a asp-action="ListOfEmployees" asp-controller="Employees" style="margin-top: 20px; display: inline-block; margin-right: 25px; width: 150px;" class="btn btn-primary">List of employees</a>
    <a style="margin-top: 20px; display: inline-block; margin-right: 25px; width: 150px;" class="btn btn-primary">Open chat</a>
</div>
