@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="margin: auto; text-align: center; margin-top: 50px;">
    <a style="margin: 50; display: inline-block; margin-right: 25px; width: 150px;" class="btn btn-primary">List of employees</a>
    <a style="margin: 50; display: inline-block; margin-right: 25px; width: 150px;" class="btn btn-primary">Open chat</a>
</div>
